# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# ML logs / artifacts
runs/
wandb/
logs/
checkpoints/
*.ckpt
*.pt
*.pth
*.onnx
*.tfevents*
*.zip

# OS/editor
.DS_Store
*.swp
.vscode/
.idea/
